* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#tudo {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#conectar {
  display: flex;
  height: 10%;
  border-bottom: 2px solid #0f044c;
  justify-content: center;
  align-items: center;
  background-color: #787a91;
}

#escrever {
  display: flex;
  height: 10%;
  border-bottom: 2px solid #0f044c;
  justify-content: center;
  align-items: center;
}

.botao-conectar,
.botao-testes,
.clear {
  display: flex;
  background-color: #141e61;
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  box-shadow: 1px 1px 1px #0f044c;
  padding: 1%;
  margin: 1%;
  align-items: center;
  justify-content: center;
}

.botao-conectar:hover,
.botao-testes:hover,
.clear:hover {
  opacity: 80%;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #141e61;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #0f044c;
  padding: 2px;
  margin-top: 8px;
  width: 80%;
  max-width: 400px;
  height: 7%;
}

button:hover {
  opacity: 95%;
}

#btnaparecer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}

#interacao {
  display: flex;
  flex: row;
  height: 70%;
  border: solid;
  border-color: #0f044c;
}

#SH,
#NQ,
#nada {
  text-align: center;
  width: 50%;
}

#serialResults {
  width: 50%;
  white-space: pre;
  overflow: scroll;
  border-left: solid;
  border-color: #0f044c;
  padding: 10px;
}
